<div id="waitModal" class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p>
                    <strong><em>Carregando ...</em></strong>
                </p>
                <p>
                    <img src="@Url.Content("~/Content/img/ajax-loader-bar-progress.gif")" alt="progress" />
                </p>
            </div>
        </div>
    </div>
</div>